.header{
    background: #023621;
    width: 100%;
    height: 85px;
}
body{
    margin: 0;
    font-family:Helvetica Neue, Arial, Helvetica, sans-serif;
}
.logo{
    width: 50%;
    padding-top: 32px;
    float: left;
}
.login{
    width: 50%;
    float: left;
}
.logo-text{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family:Helvetica Neue, Arial, Helvetica, sans-serif;
    margin-left: 170px;
}
.login-label{
    color: #fff;
    font-size: 12px;
}
.login-controls{
    margin-left: 115px;
}
.login{
    padding-top: 10px;
}
.forgotten{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    color: #8fdbc2;
}
.sub-btn{
    background: #03583c;
    color: #fff;
    height: 22px;
    border-color: #065e52;
    cursor: pointer;
}
.sub-btn:hover{
    background: #047e2d;
}
.left-section{
    width: 50%;
    float: left;
    padding-left: 134px;
    padding-top: 52px;
}
.right-section{
    width:50%;
    float: left;
}
.main-body{
    background:linear-gradient(#fff,#98c2a9);
    width: 100%;
    height: 500px;
}
.image{
    width: 581px;
}
.para{
    font-weight: bold;
    font-size: 21px;
}